/*This addresses styling of each paragraph/division of content*/ 
/*They are handled like this to give the option to style each article independently*/ 
/*History Tab*/
p {/*Setting margins for all paragraphs*/
    min-width: 500px; 
    max-width: 750px; 
    margin-left: 0px; 
    margin-right: auto;  
}

aside{
    float: right; 
    position: relative; 
}

.Enlargable:hover{
    width: 75%;
    height: 75%; 
}
aside caption{
padding: 0.5rem; 
}

#IBMPC{
    text-align: left;
}
#Osborne{
    text-align: left; 
}
#founding{
    text-align: left;
}
#IBMResponse{
    text-align: left; 
}
/* Portable III Tab*/ 
#overview{
    text-align: left;
}
#innovation{
    text-align: left; 
}
#Expansion{
    text-align: left;
}
#WhatNext{
    text-align:left; 
}
/*Common Issues Tab*/
#KeyboardCable{
    text-align: left;
}

#cmos{
    text-align:left; 
}

#floppy{
    text-align: left;
}
/*Advanced Issues Tab*/ 
#screen{
    text-align:left
}
/*Resources Tab*/
#links{
    text-align: left;
}

#manual{
    text-align: left;
}

#files{
    text-align: left; 
}
