/*This is a stylesheet meant to contain universal features across all web pages*/ 
/*Can be overridden if the needs of a certain page changes*/ 
*{
    box-sizing: border-box;
}

header img{
    position: absolute;
    top: 0px;
    left: 0px; /*This is to keep the logo towards the left*/
}

.HomeImage{
    justify-content: center;
    padding: 50px; 
}

/*For the text at the top of each page*/
h1 {
    text-align: center;
    font-size: 50px;
    color: #ff8503; 
}

/*Styling for the content of each page*/
body{
    background-color: black;
    color: #ff8503;
    text-align: center;
    font-size: 16px; 
    line-height: 1.0; 
}

/*The navigation bar for each page (will become a dropdown menu most likely)*/
nav{
    color: #ff8503;
    position: absolute;
    top: 0px;
    right: 0px;
}

a:visited{
    color: #10e0c8;
}

nav li {
    list-style-type: none;
    display: inline-block;
}

nav ul a {
    display: list-item;
    padding: .5rem;
    font: bold;
}

/*the footer of the home page (wanted the navigation at the bottom and more stylized)*/
footer{ 
    font-size: 20px; 
}

footer li{
    list-style-type: none; 
    display: inline-block; 
    padding: 1rem; 
}

footer li .HomeButtons{
    background-color: grey;
    font-size: 20px; 
    border: #ff8503 groove 8px; 
    padding: .5 rem; 
}

footer li .HomeButtons a {
    text-decoration: none;
    color: black;
}

footer li .HomeButtons a:hover{
    color:#ff8503; 
}