/*This is a stylesheet meant to contain universal features across all web pages*/ 
/*Can be overridden if the needs of a certain page changes*/ 
*{
    box-sizing: border-box;
}

img{
    padding: 1rem; 
}

header img{/*puts the logo in the top left of each tab*/ 
    position: absolute;
    top: 5px;
    left: 0px; /*This is to keep the logo towards the left*/
}

.HomeImage{/*Centers the image of the home page*/ 
    justify-content: center;
    padding: 50px; 
}

/*For the text at the top of each page*/
header .PageTitle{ /*Creates a border for the title of each page, removing the right and left borders*/ 
    border: #ff8503 groove 8px; 
    border-left: 0px;
    border-right: 0px; 
    margin-bottom: 25px;
}

header .PageTitle img{
    padding: 0rem; 
}

h1 {
    font-size: 50px;
    color: #ff8503;
    text-align: center; 
    min-width: 1000px; 
    padding-left: 10px; 
    padding-right: 10px; 
}

/*Styling for the content of each page*/
body{
    background-color: black;
    color: #ff8503;
    text-align:center; 
    font-size: 16px; 
    line-height: 1.0; 
    min-width: 1000px; 
}

/*The navigation bar for each page (will become a dropdown menu most likely)*/
nav{
    color:#ff8503;
    position: absolute;
    top: 55px;
    right: 50px;
}

nav .DropdownButton{
    background-color: grey;
    font-size: 20px; 
    border: #ff8503 groove 8px; 
    padding: 0.5 rem;  
    position: absolute;
    right: 50px; 
}

nav .DropdownButton:hover{
    color:#ff8503; 
}

nav .DropdownContent li{ /*The list items in the nav tab, by default you only see the Nav Button*/ 
    display: none; 
    position: relative; 
    top: 30px; 
    right: 40px; 
    border: #ff8503 groove 8px;
    background-color: grey; 
}

nav:hover .DropdownContent li{ /*Hovering over the Nav button displays the list of other website tabs (which is the unordered list in the nav section)*/ 
    display:block; 
    position: relative;  
}

a:visited{/*changes the color when a link is visited*/ 
    color: #10e0c8;
}

nav .DropdownContent li{ 
    list-style-type: none;
}


nav .DropdownContent li a { /*Make styling consistent with that of the home page Nav footer*/
    text-decoration: none;
    color: black;
    padding: .5rem;
    font: bold;
}

nav .DropdownContent li a:hover{
    color:#ff8503; 
} 

/*Slideshow Styling*/ 
.ScreenSlideShow{
    margin:auto; 
    position: relative; 
}

.prev, .next{ /*next/prev buttons*/
    cursor: pointer; 
    position: relative; 
    top: 50%; 
    width: auto; 
    padding: 5px; 
    font-weight: bold;
    font-size: 20px; 
    user-select: none;
}

.next{
    right: 0; 
}

.SlideNum{
    display: none; 
}